<!DOCTYPE html>
<html>
  <head>
    <title>Access Control</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <style>
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 200%;
        margin: auto;
        margin-bottom: 20px;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div class="container p-4">
      <div class="card" style="width: 18rem">
        <img
          width="50"
          id="dynamic-image"
          alt="Dynamic Image"
          class="card-img-top"
          style="height: 70%"
          alt="Image"
          src="/static/images/next.jpg"
        />
        <div class="card-body">
          <h5 class="card-title">Name: <span id="dynamic-text"></span></h5>
          <h5 class="card-title">ID: <span id="dynamic-id"></span></h5>
        </div>
      </div>
    </div>
    <script>
        var socket = io.connect('http://192.168.200.56:8089');
        socket.on('data_event_gate_01', function(eventData) {
  
            var img = document.getElementById("dynamic-image");
            var text = document.getElementById("dynamic-text");
            var id = document.getElementById("dynamic-id");

            img.src =
              '{{ url_for("static", filename="images") }}/' +
              eventData.personName +
              ".jpg";
            //img.src = "/static/images/" + eventData.data.personName + ".jpg";
            img.alt = eventData.personName;
            text.textContent = " " + eventData.personName;
            id.textContent = " " + eventData.personId;
        });
    </script>

  </body>
</html>
