<!DOCTYPE html>
<html>
  <head>
    <title>Access Control</title>
  </head>
  <body>
    <h1>Gate 1</h1>
    <div id="streamed-text"></div>
    <p id="dynamic-text"></p>
    <p id="dynamic-id"></p>
    <img id="dynamic-image" src="" alt="Dynamic Image" />
    <p id="current-time"></p>
    <script>
      const streamedText = document.getElementById("streamed-text");
      const evtSource = new EventSource("/get_data");
      evtSource.onmessage = function (event) {
        var eventData = JSON.parse(event.data);
        console.log(eventData);
        var img = document.getElementById("dynamic-image");
        var text = document.getElementById("dynamic-text");
        var id = document.getElementById("dynamic-id");
        var currentTime = document.getElementById("current-time");
        var now = new Date();
        var timeString = now.toLocaleTimeString();
        currentTime.textContent = "Current Time: " + timeString;

        img.src =
          '{{ url_for("static", filename="images") }}/' +
          eventData.data.personName +
          ".jpg";
        //img.src = "/static/images/" + eventData.data.personName + ".jpg";
        img.alt = eventData.data.personName;
        text.textContent = "Name: " + eventData.data.personName;
        id.textContent = "ID: " + eventData.data.personId;
      };
    </script>
  </body>
</html>
